@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Coustard:400,900');

$font-heading1 : 'Montserrat', sans-serif;
$font-heading2: 'Leckerli One', cursive;
$font-content1: 'Cambay', sans-serif;
$font-content2: 'Coustard', serif;
$color-default: #fff;
$bar-color: #d9d9d9;
$navbar-btn: #ffff00;
$silver : #8799A3;
$paragrap: #636363;
$bg-about-me : #0081FF;
.content-head {
  font-family: $font-heading2;
}
  .overlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;

    .text {
      color: $silver;
      position: absolute;
    }
  }

  .fit {
    overflow: hidden;
  }

.header {
  min-height: 800px;
  background-image: url(assets/bg-header.jpg);
  background-size: 1900px;
  background-position: -40px -120px;
  .blur {
    background-color: rgba(52,58,64,0.5);
    min-height: 800px;
    height: 100%;
    .navbar-brand {
      img {
        width: 200px;
      }
    }

    .navbar {
      .navbar-toggler {
        font-size: 30px;
        color: $bar-color;
        border-color: $bar-color;
      }

      .navbar-nav {
        .nav-link {
          color: $color-default;
        }
        .nav-link.active,
        .nav-link:hover {
          color: $silver; 
        }
      }
    }

    .btn-header {
      cursor: pointer;
      color: $navbar-btn;
      border-color: $navbar-btn;
      box-shadow: 0px 7px 40px -12px $navbar-btn;
    }

    .btn-header:hover {
      background-color: rgba(192,192,192,0.3);
    }

    .header-content {

      .hero {
        margin-top: 30px;
        text-align: center;
        color: $color-default;
      }
      @media (min-width: 992px) {
        .hero {
          margin-top: 200px;
          text-align: left;
        }
      }


      .content-head {
        font-family: $font-heading2;
      }

      .greet {
        font-family: $font-heading1;
        font-weight: 700;

        name {
          color: #0081FF; 
        }
      }

      .job {
        font-weight: 300;
      }

      .header-content-desc {
        color: $paragrap;
      }

      .header-content-btn {
        cursor: pointer;
        color: $color-default;
        text-transform: uppercase;
        background-color: #333333;
        border-color: transparent;
        font-weight: 700;
        font-size: 12px;
        padding: 15px 30px;
      }


    }
  }
}

.bg-about-me {
  background-color: $bg-about-me;
  color: $color-default;
  padding-top: 80px;

  .abt-desc {
    font-family: $font-heading1;
    font-weight: 900;
    font-size: 35px;
    line-height: 1.2;
    padding-right: 85px;
  }

  .abt-desc2 {
    padding-right: 100px;
    padding-top: 50px;
    font-size: 15px;
  }

  .bg-about-content {
    background-color: #007AF3; 
  }

  .media-content  {
    margin-top: 20px;
  }

  @media (min-width: 992px) {
    .media-control {
      margin-top: 0;
    }
  }


  .media {

    img {
      width: 50px; 
    }

    h5 {
      font-weight: 900;
    }
  }

  .social-media {

    .social {
      margin-top: 12px;
      text-align: center;
    }

    @media (min-width: 992px) {
      .social {
        text-align: left;
      }
    }

    .fa {
      cursor: pointer;
      padding: 0 10px;
      color: #6ab0f6;
    }
    .social .active,
    .fa:hover {
      color: $color-default;
    }
  }
}

.portfolio {

  .content-head {
    color: $silver; 
  }

  .port-message {
    font-family: $font-heading1;
    font-size: 35px;
    font-weight: 900;
    color: #252525;
  }

  .portfolio-btn {
    background-color: #1CBBB3;
    color: $color-default;
    font-weight: 900;
    font-family: $font-heading1;
    font-size: 14px;
    text-transform: uppercase;
    border-color: transparent;
    padding: 12px 25px;
    box-shadow: 0px 7px 40px -12px #1CBBB3;
  }

  .port-content {
    text-align: center;
    overflow: hidden;

    .image {
      max-height: 310px;
      object-fit: cover;
    }

    .image2 {
      max-height: 620px;
      width: 100%;
      object-fit: cover;
    }

    .fit {
      transform: scale(1.4);
    }

    .fit2 {
      transform: scale(1.2);
    }
  }
  .port-content .active,
  .port-content:hover .overlay{
    opacity: 1;
  }

  .overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(37,37,37,0.9);

    .text {
      color: $silver;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .tag {
        font-size: 16px;
      }

      .title {
        font-weight: 900;
        color: $color-default;
        font-size: 15px;
      }

      img {
        padding: 8px 10px;
        width: 50px;
      }
    }
  }

}

.bg-clients {
  background-image: url(assets/bg-client.jpg);
  color: $color-default;
  min-height: 800px;
  .content-head {
    font-size: 35px;
  }

  .customer {
    font-family: $font-heading1;
    font-weight: 900;
    font-size: 35px;
  }

  .carousel-item {

    padding: 0 200px;
    p {
      font-family: $font-heading1;
      font-weight: 900;
      font-size: 20px;
    }
  .media-fit {
    padding: 0 50px;
  }

    .media {
      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        object-fit: cover;
      }

      .media-body {
        color: $silver;

        h5 {
          padding-top: 8px;
          margin-bottom: 0;
          color: #FFFF00;
          font-weight: 700;
        }
      }
    }

  }
  .arrow-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: cover;
  }

  .next {
    background-image: url(assets/arrow-next.png);
  }

  .prev {
    background-image: url(assets/arrow-prev.png);
  }

  .fit {
    margin-top: 90px;
    overflow: hidden;
    .image1 {
      margin-top: 80px;
      height: 100px;
      object-fit: cover;
    }

    .image2 {
      margin-top: 50px;
      height: 150px;
      object-fit: cover;
    }
  }
}

.blog {
  .content-head {
    color: $silver;
    font-size: 30px;
  }

  .message {
    font-family: $font-heading1;
    font-weight: 900;
    margin: 20px 0;

  }

  p {
    padding-right: 100px;
    font-family: $font-content1;
    color: $paragrap;

  }

  .date {
    font-size: 15px;
    margin-bottom: 12px;

  }

  .bg-blog1 {
    background-color: #0081FF;
    box-shadow: 0px 10px 100px -7px #0081FF;
    color: $color-default;
    font-family: $font-heading1;
    font-weight: 900;
    font-size: 20px;
    padding: 20px 60px;


    q {
      font-family: $font-content1;
      font-weight: 700;
      line-height: 5%;
    }

    .author {
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 13px;
      font-weight: 400;
      color: #ffff00;
    }
  }
  .bg-blog2 {
    margin: 0 12px;
    width: 275px;
    height: 270px;
    font-family: $font-content1;
    color: #000;
    font-weight: 900;
    background-image: url(assets/blog-2.png);
    background-size: cover;
   box-shadow: 0px 0px 40px 0px #000;
.overlay {
top: 0;
left: 0;
 background-color: transparent;
  .text {
    font-family: $font-heading1;
    font-weight: 900;
    color: #000;
    top: 35px;
    left: 12%;

    h2 {
      font-size :25px;
      font-weight: 900;
      line-height: 1.3;
    }
  }
}
}

  .bg-blog3 {
    margin: 0 12px;
    width: 275px;
    height: 270px;
    font-family: $font-heading1;
    color: $color-default;
    font-weight: 900;
    background-image: url(assets/blog-3.png);
    background-size: cover;
   box-shadow: 0px 0px 40px 0px #000;
    
.overlay {
  top: 0;
  left: 0;
  width: 100%;;
  opacity: 1;
 background-color: rgba(37,37,37,0.6);
  .text {
    text-align :center;
    font-family: $font-heading1;
    font-weight: 900;
    color: #fff;
    top: 35px;
    left: 5px;


    h2 {
      font-weight: 900;
      font-size: 27px;
    }

    i {
      font-size : 40px;
      margin-top: 20px;
    }
  }
}
}
  
  .bg-blog4 {
    height: 450px;
    background-image: url(assets/blog-1.png);
    font-family: $font-heading1;
    color: $color-default;
    font-weight: 900;
    padding: 130px 80px;

    .blog-btn {
      padding: 10px 25px;
      background-color: #FFFF00;
      text-transform: uppercase;
      color: #000;
      font-family: $font-heading1;
      font-weight: 700;
      font-size: 12px;
    }


    h2 {
      font-weight: 900;
    }
  }

  .blog-btn2 {
   background-color: #E91E62; 
   text-transform: uppercase;
   padding-top: 100px;
   text-align: center;
   min-height: 270px;
   box-shadow: 0px 0px 40px 0px #E91F62;

   a {
    color: $color-default;
    font-family: $font-heading1;
    font-weight: 700;
   }
  }

  .standard-post {
    padding: 0 15px;
    padding-top: 25px;
    padding-bottom :43px;
    font-family: $font-heading1;
    font-weight: 900;
    margin-bottom: 0;
    box-shadow: 0px 0px 40px 0px #000;

    .date {
    color: $silver;
    }

    h2 {
      font-family: $font-heading1;
      font-weight: 900;
      margin-bottom : 32px;
    }
  }
}



.contacts {
  background-image: url(assets/bg-contact.jpg);
  color: $paragrap;
  background-size: cover;

  .blur {
    background-color: rgba(37,37,37,0.9);
    height: 100%;

    .content-head {
      color: $color-default;
      font-size: 25px;
      margin-bottom: 12px;
    }

    strong {
      color: $color-default;
      font-size: 15px;
      font-weight: 400;
    }

    .time-job {
      margin-top: 40px;
      margin-bottom: 55px;
      p {
        margin: 0;
      }
    }

    .email {
      color: #0081FF;
      margin: 0;
    }

    h2 {
      color: $color-default;
      font-family: $font-heading1;
      font-weight: 900;
      margin-bottom: 30px;
    }

    .social-media {
      margin-top: 50px;
      .fa {
        padding-right: 12px;
      }
    }

    input {
      color: $color-default;
      background-color: #303030;
      font-size: 12px
    }

    input:focus::placeholder {
      color: $color-default;
    }

    input:focus {
      border: 2px solid $silver;
      outline: none;
      background-color: rgba(48,48,48,0.7);
    }

    textarea {
      color: $color-default;
      padding-top: 15px;
      padding-left: 20px;
      background-color: #303030;
      border-radius: 20px;
      font-size: 12px;
      outline: none;
      border-color: #303030;
    }

    textarea:focus::placeholder {
      color: $color-default;
    }

    textarea:focus {
      border: 2px solid $silver;
      background-color: rgba(48,48,48,0.7);
    }

    .contact-btn {
      background-color: #007EF9;
      padding: 15px 45px;
      text-transform: uppercase;
      font-weight: 900;
      color: $color-default;
      font-size: 12px;
    }




  }
}

.footer {
  background-color: #252525;
  color: #464646;

  strong {
    color: #8799A3;
  }

  strong2 {
    color: #8799A3; 
  }

  .back-top {
    color: #464646;

    i {
      padding: 0 3px;
    }
  }


}
